/* Global Styles */
@import './variables.css';

:root {
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-main);
  background-color: var(--color-bg-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 480px; /* Mobile width */
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--color-bg-card);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
