.header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: var(--spacing-sm);
    text-align: center;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.title {
    font-size: 1.2rem;
    color: var(--color-primary-pop);
    margin: 0;
}


.content {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}