.header {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.title {
    font-family: var(--font-main);
    color: var(--color-text-main);
    font-size: var(--font-size-xl);
    margin: 0;
}


.content {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}