.container {
    padding-top: var(--spacing-lg);
}

.typeToggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}

.inactive {
    opacity: 0.5;
    filter: grayscale(0.5);
    box-shadow: none;
}

.form {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    margin-top: var(--spacing-md);
}

.savingsAlert {
    background-color: #fff9c4;
    color: #fbc02d;
    padding: 10px;
    border-radius: 12px;
    margin-top: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    border: 2px dashed #fdd835;
    animation: wiggle 2s infinite;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-5deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}