.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
    width: 100%;
}

/* Allow overrides */
.wrapper:last-child {
    margin-bottom: 0;
}

.label {
    font-size: var(--font-size-sm);
    color: var(--color-text-sub);
    font-weight: bold;
    margin-left: var(--spacing-xs);
}

.input {
    width: 100%;
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    border: 2px solid transparent;
    background-color: var(--color-bg-base);
    font-family: var(--font-main);
    font-size: var(--font-size-md);
    color: var(--color-text-main);
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    border-color: var(--color-secondary);
    background-color: var(--color-bg-card);
    box-shadow: 0 0 0 4px rgba(181, 234, 215, 0.2);
}

.input::placeholder {
    color: #CCC;
}